Body {
    background-color: #18121E;
}

.Background-Container {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

.GameLabel {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 24px;
    font-family: "Didot";
    color: #FFFFFF;
}

.GameLabel-Bottom {
    position: fixed;
    left: 42%;
    top: 575px;
}

.Tower {
    position: absolute;
    width: 90px;
    height: 100px;
    top: 40%;
    left: 45%;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.Laser {
    position: absolute;
    top: 45%;
    left: 48.5%;
    visibility: hidden;
}