Body {
    background-color: #18121E;
}

.Background {
    background-color: #233237;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.Background-Container {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

.GameLabel {
    display: flex;
    justify-content: space-between;
}

.GameLabel-Bottom {
    position: absolute;
    left: 38%;
    top: 85%;
}

.Message {
    color: #FFFFFF;
    font-family: "Didot";
    font-size: 28px;
    display: inline;
    padding: 15px;
}

.Tower {
    position: absolute;
    width: 90px;
    height: 100px;
    top: 40%;
    left: 45%;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.Laser {
    position: absolute;
    top: 45%;
    left: 48.5%;
    visibility: hidden;
}